.form {
  display: flex;
  flex-wrap: column;
  max-width: 400px;
  margin: 0 auto;
}

.form input,
.form textarea {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.form button {
  padding: 10px 20px;
  background-color: navy;
  color: floralwhite;
  border: none;
  cursor: pointer;
}

.form button:hover {
  color:aquamarine;
  
}